body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    background: #f2f2f2; 
    font-size: 1em;
    line-height: 1.5em;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    padding-top: 80px;
}

img {
    max-width: 100%;
    height: auto;
} 

h1 {
    font-size: 2.3em;
  line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}

h4{
	text-align: center;
}

p {
    margin: 0 0 1.5em 0;
}

table {
   width: 100%;
   border: 1px solid #000;
}
th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
}
caption {
   padding: 0.3em;
   color: #fff;
    background: #000;
}
th {
   background: #eee;
}

/************ 
//------------------------------
// Cabecera
//------------------------------
************/

#main-header {
	background: #333;
	color: white;
	height: 80px;
}	
	#main-header a {
		color: white;
	}
 
/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	
	  /************ 
//------------------------------
// fijar Cabecera
//------------------------------
************/
	
#main-header {
	background: #333;
	color: white;
	height: 80px;
	
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
/************
//-----------------------------
// PIE PÁGINA
//-----------------------------
************/
#main-footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
    #main-footer p {
        margin: 0;
    }
    
    #main-footer a {
        color: white;
    }
 
    


input{
	margin: 0 auto;
   width: 200px;
	display: block;
	padding: 5px;
	font-size: 15px;
}
  
  
 .btn {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #2980b9);
  background-image: -moz-linear-gradient(top, #000000, #2980b9);
  background-image: -ms-linear-gradient(top, #000000, #2980b9);
  background-image: -o-linear-gradient(top, #000000, #2980b9);
  background-image: linear-gradient(to bottom, #000000, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
    
  /************ 
//------------------------------
// CONTENIDO
//------------------------------
************/
#main-content {
    background: rgba(0,0,0.0.4);
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    content: 
}

.d-izq{
	float: left;
	width: 50%;
	text-align: center;
	
	
}

.d-der{
	float: left;
	width: 40%;
	text-align: center;	
}

#main-content input, #main-content textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
}

#main-content textarea{
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
}


 #main-content header,
 #main-content .content {
     padding: 40px;
 }
    
 @media(max-width:768px){
	form{
		width: 75%;
	}
}

@media(max-width:480px){
	form{
		width: 95%;
	}
}